#content-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
}

#introduction {
  background-color: rgb(48, 151, 221);
  border: 5px solid rgb(91, 179, 231);
  outline: 2px solid rgb(194, 232, 223);
  color: rgb(242, 237, 237);
  border-radius: 25px;
}