body {
  margin: 0px;
  padding: 0px;
  background-image: url(./assets/tree-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}